html,body{
	/*font-family: "Lucida Console", Monaco, monospace;*/
	font-size: 18px;
	height: 100vh;


	/*font-weight: 600;*/
}
a { color: #3979B9; text-decoration: underline }
.container-fluid,.full-length{
  height: 100vh !important;
  /*overflow-y: : hidden;*/
  /*max-height: 100%*/
}
p{
	hyphens: auto; overflow-wrap: break-word; text-rendering: optimizeLegibility; font-kerning: normal;
}
.col-lg-6{
	text-align: justify;
}

.inverted{
	background-color: rgb(20, 20, 20);
	color: rgb(235, 232, 232);
	font: 20px lato, sans-serif;
}

.styled_text {
	font-family: 'Georgia', sans-serif;
    font-size: 22px;
}
.styled_subheader {
	font-family: 'Georgia', sans-serif;
    font-size: 18px;
}

p.text_body {
	font-family: "Lato";
	margin-bottom: 2px;
	font-size: 18px;
}

.heading {
    border-bottom: 5px solid #2196F3!important;
    /* margin-bottom: 10px; */
}
p.small {
	font-size: 14px;
	margin-bottom: 0.1rem;
}
p.large {
	margin-bottom: 0.2rem;
}
img.project_image {
	/* float: left; */
	width: 220px;
	height: 120px;
	object-fit: cover;
	border: 1px solid #2196F3 !important;
}
img.dp_image {
	/* float: left; */
	width: 100px;
	height: 100px;
	object-fit: cover;
	border: 1px solid #2196F3 !important;
	/* margin: 10px; */
}